<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>Start</title>
    <script src="http://static.start.dev/start/js/requirejs.min.js"></script>
    <script>
        requirejs.config({
            paths: {
                "text" : "http://static.start.dev/start/vendor/requirejs-text/text",
                "css" : "http://static.start.dev/start/vendor/require-css/css.min"
            }
        });

        requirejs(['http://static.start.dev/start/js/start.js'], function (Start) {
            Start.run();
        });
    </script>
</head>

<body>
    <div id="fragments" style="width: 600px; margin: 0 auto">
        {% for fragment in fragments %}
            <div class="fragment" style="border: 1px solid #cccccc; border-radius: 5px; margin-bottom: 10px; padding: 10px">
                <div><span style="color: #cccccc">Для кого:</span> {{ fragment.user.username }}</div>
                <div><span style="color: #cccccc">Ссылка:</span> <a href="{{ fragment.uri }}" target="_blank">{{ fragment.uri }}</a></div>
                <div><span style="color: #cccccc">Создано:</span> {{ fragment.createdAt('d.m.Y H:i:s') }}</div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
