<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>Start</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>

<body>
<div class="pure-g" style="width: 400px; margin: 0 auto; text-align: center">
    <div class="pure-u-1">
        <form class="pure-form" method="get">
            <fieldset class="pure-group">
                <input type="text" name="username" class="pure-input-1" placeholder="Логин">
                <input type="password" name="password" class="pure-input-1" placeholder="Пароль">
            </fieldset>

            <button type="submit" class="pure-button pure-input-1 pure-button-primary">Войти</button>
        </form>
    </div>
</div>
</body>
</html>
