define(['start'], function (Start) {
    var html = "<h4>{{ title }}</h4><p>{{ text }}</p><p style='color: #cccccc'>{{ created_at|date('d.m.Y H:i') }}</p>";

    Start.addFragment('{{ id }}', html);
});